build/
CMakeCache.txt
build/
build.ninja
cmake_install.cmake
compile_commands.json
config.env
CMakeCache
CMakeFiles/
esp-idf/
bootloader*/
./*_args
flash*
kconfigs*
ldgen*
sdkconfig*
partition-table-flash_args
project_description.json
*flash*
config/
bootloader*
